body {
    background: #00c4ff;
}
.content {
	background: #fff;
	-webkit-border-radius: 6px;
    border-radius: 6px;
    margin-top: 40px;
    padding: 1px 20px 20px;
    text-align: center;
}
.holder {
    width: 160px;
    margin: 0 auto;
    clear: both;
}
.color-code {
    padding: 8px 0 0;
    float: right;
    font-family: "Courier New";
    font-size: 25px;
    font-weight: bold;
}
#colorSelector {
    position: relative;
    width: 36px;
    height: 36px;
    background: url(colorpicker/images/select.png);
    float: left;
}
#colorSelector div {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 30px;
    height: 30px;
    background: url(colorpicker/images/select.png) center;
}
.footer {
    clear: both;
    color: #999;
    margin: 65px 0 0;
    border-top: 1px solid #bbb;
    padding: 10px 0 0;
}